.container {
  max-width: 575px;
  margin: 2rem auto;
  padding: 0 2rem;

  /* display: grid;
  height: 100vh;
  place-items: center;
   */
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}
