html {
  font-size: 15px;
}

body {
  background-color: hsl(0deg, 0%, 95%);
}

.wrap {
  flex-wrap: wrap;
}

.sedan {
  background: hsl(31deg, 77%, 52%);
  border-radius: 10px 10px 0 0;
}

.suv {
  background-color: hsl(184deg, 100%, 22%);
}

.luxury {
  background-color: hsl(179deg, 100%, 13%);
  border-radius: 0 0 10px 10px;
}

.padding {
  padding: 2.5rem;
}

.header {
  font-family: "Big Shoulders Display", sans-serif;
  color: hsl(0deg, 0%, 95%);
}

.info {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0deg, 0%, 100%, 0.75);
  line-height: 25px;
}

button {
  padding: 15px 30px;
  border-radius: 35px;
  border: none;
  font-family: "Lexend Deca", sans-serif;
  margin: 1rem 0 0;
  background-color: hsl(0deg, 0%, 95%);
}

.sedan-learn-more-button {
  color: hsl(31deg, 77%, 52%);
}

.suv-learn-more-button {
  color: hsl(184deg, 100%, 22%);
}

.luxury-learn-more-button {
  color: hsl(179deg, 100%, 13%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media screen and (min-width: 1440px) {
  .wrap {
    flex-wrap: nowrap;
  }

  .sedan {
    border-radius: 10px 0 0 10px;
  }

  .luxury {
    background-color: hsl(179deg, 100%, 13%);
    border-radius: 0 10px 10px 0;
  }

  button {
    margin: 4rem 0 0;
  }
}
